/* banner */
.banner {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.banner-content-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  z-index: -1;
  position: absolute;
  overflow: hidden;
}
.banner-content {
  width: 100%;
  height: 100%;
  transition: all 1s ease-in;
}
.banner-content img {
  width: 100vw;
  height: 100%;
}

/* Topper */
router-view {
  height: 100%;
  width: 100%;
}
.topper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
}
.sign-up {
  color: #17192d;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.15s ease-in;
}
.sign-up:hover {
  color: #0077ff;
}
.sign-in {
  padding: 7px 20px;
  border: #17192d 2px solid;
  border-radius: 20px;
  transition: all 0.15s ease-in;
}
.sign-in:hover {
  color: #ffffff;
  border: #0077ff 2px solid;
  background-color: #0077ff;
}
.topper > span {
  padding: 23px;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 33.33333%;
  gap: 1rem;
}
.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  gap: 1rem;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 33.33333%;
  gap: 1rem;
}
